:root {
  --primary-color: #5c87fe;
  --text-color: #333;

  --white: #fff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;

  --shadow: 0.3rem 0.3rem 0.6rem rgba(113, 113, 113, 0.169),
    -0.2rem -0.2rem 0.5rem rgba(255, 255, 255, 0.2);
  --inner-shadow: inset 0.2rem 0.2rem 0.5rem #7171712b,
    inset -0.2rem -0.2rem 0.5rem #fff3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #f6f6f6;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%;
}

.video-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
}

body.light-mode::before,
body.light-mode .video-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.72) 0%,
    rgba(255, 255, 255, 0.45) 100%
  );
  -webkit-backdrop-filter: saturate(3);
  backdrop-filter: saturate(3);
}

.dark-light {
  --dark-light-width: 50px;
  width: var(--dark-light-width);
  height: var(--dark-light-width);
  border-radius: 50%;
  background-color: #333;
  position: fixed;
  z-index: 10;
  right: 50px;
  bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: background-color 0.25s linear;
}

body.light-mode .dark-light {
  background-color: #e6e6e6;
}

.light-icon,
.dark-icon {
  font-size: 24px;
  color: #ff9a18;
}

.light-icon::before {
  display: none;
}

body.light-mode .light-icon::before {
  display: block;
}

.dark-icon {
  position: relative;
}

body.light-mode .dark-icon::before {
  display: none;
}

.player {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.icon-play {
  position: relative;
  left: 1.5px;
}

.dashboard {
  padding: 16px 16px 14px;
  background-color: rgba(16 18 27 / 20%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 48rem;
  box-shadow: 0 -30px 30px rgb(0 0 0 / 10%);
  z-index: 2;
}

body.light-mode .dashboard {
  background-color: rgba(255, 255, 255, 0.16);
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
}

header h2 {
  color: #f9fafb;
  font-size: 20px;
}

body.light-mode header h2 {
  color: #333;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.15),
    -0.2rem -0.2rem 0.4rem rgba(255, 255, 255, 0.05);
  border-radius: 50%;
}

body.light-mode .cd {
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.18),
    -0.2rem -0.2rem 0.5rem rgba(255, 255, 255, 0.4);
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  background-position: center;
  margin: auto;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 14px 0;
}

.control .btn {
  color: #f9fafb;
  padding: 18px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  height: 52px;
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.15),
    -0.2rem -0.2rem 0.4rem rgba(255, 255, 255, 0.05);
}

body.light-mode .control .btn:not(.btn-toggle-play) {
  color: #494949;
  box-shadow: var(--shadow);
}

body.light-mode .control .btn:not(.btn-toggle-play).active {
  color: var(--primary-color);
  box-shadow: var(--inner-shadow);
}

.control .btn.active {
  color: var(--primary-color);
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.15),
    inset -0.2rem -0.2rem 0.4rem rgba(255, 255, 255, 0.05);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.btn.btn-prev:active,
.btn.btn-next:active {
  color: var(--primary-color) !important;
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.15),
    inset -0.2rem -0.2rem 0.5rem rgba(255, 255, 255, 0.1);
}

body.light-mode .btn.btn-prev:active,
body.light-mode .btn.btn-next:active {
  color: var(--primary-color) !important;
  box-shadow: var(--inner-shadow);
}

.btn.btn-prev:hover,
.btn.btn-next:hover {
  color: var(--primary-color) !important;
}

.progress-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cur-time,
.total-duration {
  font-size: 14px;
  color: #f9fafb;
  width: 30px;
}

body.light-mode .cur-time,
body.light-mode .total-duration {
  color: #333;
}

input[type="range"] {
  position: relative;
  overflow: hidden;
  background: #fff0;
  color: #5c87fe;
  font-size: 1.5rem;
  --thumb-height: 1.125em;
  --track-height: 0.125em;
  --track-color: #dfdfdf;
  --clip-edges: 0.125em;
}

input[type="range"]:active {
  cursor: grabbing;
}

input[type="range"]:hover {
  cursor: pointer;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
  --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
  --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
  --clip-further: calc(100% + 1px);
  --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
    100vmax currentColor;

  width: var(--thumb-width, var(--thumb-height));
  background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
    50% calc(var(--track-height) + 1px);
  background-color: currentColor;
  box-shadow: var(--box-fill);
  border-radius: var(--thumb-width, var(--thumb-height));
  clip-path: polygon(
    100% -1px,
    var(--clip-edges) -1px,
    0 var(--clip-top),
    -100vmax var(--clip-top),
    -100vmax var(--clip-bottom),
    0 var(--clip-bottom),
    var(--clip-edges) 100%,
    var(--clip-further) var(--clip-further)
  );
}

input[type="range"]:hover::-webkit-slider-thumb {
  cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
  cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
    100% calc(var(--track-height) + 1px);
}

/* === Firefox specific styles === */
input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
  appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
  background: #fff0;
}

input[type="range"]::-moz-range-thumb {
  background: currentColor;
  border: 0;
  width: var(--thumb-width, var(--thumb-height));
  border-radius: var(--thumb-width, var(--thumb-height));
  cursor: grab;
}

input[type="range"]:active::-moz-range-thumb {
  cursor: grabbing;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
  appearance: none;
  background: currentColor;
  transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
  height: calc(var(--track-height) + 1px);
  border-radius: var(--track-height);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
  filter: brightness(100%);
}

/* .progress,
.volume {
  --input-range-height: 7px;
  -webkit-appearance: none;
  height: var(--input-range-height);
  background: #e6e6e6;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
  border-radius: calc(var(--input-range-height) / 2);
} */

.progress {
  flex: 1;
  margin: 0 9px 0 5px;
}

/* .progress::-webkit-slider-thumb,
.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 15px;
  height: var(--input-range-height);
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: calc(var(--input-range-height) / 2);
} */

.volume-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vol-icon {
  font-size: 20px;
  color: #f9fafb;
}

body.light-mode .vol-icon {
  color: #494949;
}

.volume {
  width: 70%;
  margin: 0 7px 0 5px;
}

.toggle-low-mute-vol {
  height: 24px;
  width: 21px;
  position: relative;
  margin-top: 3px;
}

.fa-volume-low.muted {
  display: none;
}

.vol-icon.fa-volume-xmark {
  display: none;
}

.fa-volume-xmark.muted {
  display: block;
}

/* PLAYLIST */
.playlist {
  margin-top: 423px;
  background-color: rgba(16 18 27 / 40%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 12px;
  box-shadow: 0 30px 30px rgb(0 0 0 / 10%);
}

body.light-mode .playlist {
  background-color: rgba(255, 255, 255, 0.31);
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #3c3c3c;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  top: 0;
  transition: all linear 0.12s;
}

body.light-mode .song {
  background-color: #fafafa;
}

.song:hover {
  top: -5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.song.active {
  background-color: var(--primary-color) !important;
  cursor: pointer;
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff !important;
}

.line-wrapper {
  position: absolute;
  background-color: transparent;
  top: 50%;
  left: 2.9rem;
  transform: translateY(-50%);
  height: 58%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow-y: none;
  display: none;
}

.line {
  --line-dance-height: 2rem;
  height: var(--line-dance-height);
  width: 1rem;
  background-image: linear-gradient(to top, #ecf0f1, #bfd7ed);
  margin: 0.08rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition: all 0.25s ease;
}

@keyframes dance {
  0% {
    height: var(--line-dance-height);
  }

  50% {
    height: calc(var(--line-dance-height) * 2);
  }

  100% {
    height: var(--line-dance-height);
  }
}

.line--1 {
  animation: dance 0.7s ease-in-out infinite 0.1s;
}

.line--2 {
  animation: dance 0.7s ease-in-out infinite 0.6s;
}

.line--3 {
  animation: dance 0.7s ease-in-out infinite 1s;
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: #fff;
}

body.light-mode .song .title {
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  display: flex;
  justify-content: space-between;
  width: 14.6%;
}

.like-icon-box {
  margin-right: 10px;
}

.like-icon--fill,
.like-icon--outline {
  width: 22px;
  height: 22px;
}

.like-icon--fill {
  display: none;
}

.like-icon-box.liked .like-icon--fill {
  display: initial;
}

.song:not(.active) .option .like-icon-box.liked .like-icon--fill {
  color: var(--primary-color);
}

.like-icon-box.liked .like-icon--outline {
  display: none;
}

.download-link {
  text-decoration: none;
  color: inherit;
}

.download-icon {
  width: 22px;
  height: 22px;
}
