/* Mobile */
@media (max-width: 46.25em) {
  .dark-light {
    top: 10px;
    left: 10px;
    background-color: transparent;
  }

  body.light-mode .dark-light {
    background-color: transparent;
  }

  .dashboard,
  .playlist {
    box-shadow: none;
  }

  header h2 {
    margin-top: 10px;
  }

  .playlist {
    padding: 24px 12px 12px 12px;
  }

  .progress {
    margin: 0 9px 1px 5px;
  }

  .volume-wrap {
    margin-top: 5px;
  }

  .song .title {
    line-height: 1.2;
  }

  .song .option {
    width: 18.5%;
  }
}

/* Mobile & Tablet */
@media (max-width: 64em) {
  .btn.btn-prev:hover,
  .btn.btn-next:hover {
    color: #494949 !important;
  }

  .song:hover {
    top: 0;
  }

  .line {
    margin-left: 0.04rem;
  }
}
